NODE_ENV=development
COOKIE_SECRET=string_of_random_characters_here(64_characters_recommended)
PORT=3000
CORS_ORIGIN=http://localhost:4000
SPOTIFY_CLIENT_ID=your_client_id_here
SPOTIFY_CLIENT_SECRET=your_client_secret_here
SPOTIFY_REDIRECT_URI=http://127.0.0.1:3000/callback
SPOTIFY_AUTH_URL=https://accounts.spotify.com/api/token
SPOTIFY_API_URL=https://api.spotify.com/v1
NUXT_PUBLIC_API_URL=http://127.0.0.1:3000
NUXT_API_PROXY_URL=http://api:3000